
		<head>
		<!-- BASICS -->

		<!-- <meta charset="utf-8"> -->
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
		<!-- <title>Skycision</title> -->
		<!-- skin -->
		<!-- <link rel="stylesheet" type="text/css" href="static/css/isotope.css" media="screen" />	 -->
		<!-- <link rel="stylesheet" href="static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen"/> -->
		<!-- <link rel="stylesheet" href="static/css/bootstrap-theme.css"> -->
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
		<!-- <link rel="stylesheet" href="static/skin/default.css"> -->
		<style type="text/css">
			@media (max-width: @screen-xs) {
					body{font-size: 10px;}
			}

			@media (max-width: @screen-sm) {
					body{font-size: 14px;}
			}
		</style>
		</head>

	
		<body>
		<section id="header" class="appear"></section>
		<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
			 <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>

					<h1><a class="navbar-brand-skrollable skrollable-between" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">		<img src="static/img/portfolio/skycision-logo-small.png" alt="" style="max-width: 100%; margin-left: 30px;"/>

					</a></h1>
				</div>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="#section-works">What We Offer</a></li>
						<li><a href="#section-contact">Contact</a></li>
						<li><a href="#section-about">Log In</a></li>
						<!-- <li><a href="mosaic.html">Mosaic</a></li> -->
					</ul>
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		<section class="featured" style = "background: url(static/img/slider1.jpg); background-repeat:no-repeat;background-position:center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">

			<div class="container" style="margin-top: 40px;"> 
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						<div class="align-center">
							<!-- <i class="fa fa-flask fa-5x mar-bot20"></i> -->
							<h2 class="slogan">Welcome to Skycision</h2>
							<!-- <p></p> -->
						</div>
					</div>				
				</div>
			</div>
		</section>
		

		<!-- services -->
		<section id="section-services" class="section pad-bot30 bg-white">
		<div class="container"> 
			<div class="row mar-bot40">
				<div class="col-lg-4" >
					<div class="align-center">
						<h4 class="text-bold">Next Generation Agriculture</h4>
						<p>Skycision provides a data-driven farm management platform built around the collection and processing of high-resolution aerial imagery.
						</p>
					</div>
				</div>

				<div class="col-lg-4" >
					<div class="align-center">
						<h4 class="text-bold">Making Precision Ag Accessible</h4>
						<p>Our services are specifically designed for the modern grower, streamlining operations of all sizes. Bring your farm into the 21st century with just a drone and a Smartphone!
						</p>
					</div>
				</div>
				<div class="col-lg-4" >
					<div class="align-center">
						<h4 class="text-bold">Your Farm At Your Finger Tips</h4>
						<p>From a high-level overview to historical data to high-resolution imagery, every aspect of your operation is available at-a-glance.
						</p>
					</div>
				</div>
			</div>	
		</div>
		</section>
		
		<!-- spacer section:testimonial -->
		<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">				
					<div class="col-lg-12">
						<div class="align-center">
							<div class="testimonial pad-top40 pad-bot40 clearfix">
								<img src="static/img/portfolio/skycision-logo.png" alt=""  style="max-width: 100%;"/>
								<!-- <h5>
								</h5> -->
								<br/>
								<!-- <span class="author">&mdash; MIKE DOE <a href="#">www.siteurl.com</a></span> -->
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>	
		</section>

		<!-- section works -->

		<section id="section-works" class="section appear clearfix">
			<div class="container">
				<div class="row mar-bot40">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-header">
							<h2 class="section-heading animated" data-animation="bounceInUp">What We Offer</h2>
							<p></p>
						</div>
					</div>
				</div>
					<div class="row">
							<nav id="filter" class="col-md-12 text-center">
									<ul>
									<li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
									<li><a href="#"  class="btn-theme btn-small" data-filter=".FlightPlanner" >Flight Planning</a></li>
									<li><a href="#"  class="btn-theme btn-small" data-filter=".AerialMapping">Aerial Mapping</a></li>
									<li ><a href="#" class="btn-theme btn-small" data-filter=".RapidInsights">Rapid Insights</a></li>
									<li ><a href="#" class="btn-theme btn-small" data-filter=".Technologies">Technologies</a></li>
									</ul>
							</nav>
							<div class="col-md-12">
									<div class="row">
											<div class="portfolio-items isotopeWrapper clearfix" id="4">

													<article class="col-md-6 isotopeItem FlightPlanner">
						<div class="portfolio-item">
							<img src="static/img/portfolio/img1.jpg" alt="" />
							<div class="portfolio-desc align-center my-desc">
								<!-- <div class="folio-info"> -->
								<h4><a href="#">Flight Planning</a></h4>
								<div class="folio-info"> 
									<p>

									<!-- <p style="font-size:18px;"> -->

										Create and deploy optimized flight plans to efficiently scout any region of your operation. Plan your flights at home or in the field using our iOS App (coming soon!) Whatever your choice, you'll enjoy the ease of use and end-to-end intelligence only Skycision can deliver.

									</p>
								</div>
								<!--  </div>	 -->									   
							</div>
						</div>
													</article>

													<article class="col-md-6 isotopeItem AerialMapping">
						<div class="portfolio-item">
							<img src="static/img/portfolio/img11.jpg" alt="" />
							<div class="portfolio-desc align-center ">
								<h4><a href="#">Aerial Mapping</a></h4>
								<div class="folio-info">
									<p>While your drone is flying, our app is mapping! Our aerial mapping platform captures elevation data to estimate yield and multispectral imagery to assess crop health and vigor. Aerial mapping saves time in crop scouting and helps to pinpoint areas of your field that are in need. Improve resource allocation and maximize yield with the touch of a button!
									</p>
								</div>										   

							</div>
						</div>
													</article>

													<article class="col-md-6 isotopeItem RapidInsights">
						<div class="portfolio-item">
							<img src="static/img/portfolio/img8.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<h4><a href="#">Rapid Insights</a></h4>
								<div class="folio-info">
									<p>By aggregating data from various operations regionally and nationally, we can better understand the factors that contribute to crop performance in various climates and regions. The results of the large scale analysis allow us to understand and benchmark operations at a local level to deliver rapid insights to our farmers. Let us help you in maximizing the value of our mapping capabilities.
									</p>
									<!-- <a href="img/portfolio/img3.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a> -->
								</div>										   
							</div>
						</div>
													</article>

													<article class="col-md-6 isotopeItem Technologies">
						<div class="portfolio-item">
							<img src="static/img/portfolio/img10.jpg" alt="" />
							<div class="portfolio-desc align-center">				
								<h4><a href="#">Technologies</a></h4>
								<div class="folio-info">
									<p>We are working closely with industry leader DJI to develop software for Phantom III, Inspire II and Matrice 100 UAVs. Specialized imaging sensors measure crop health, generate elevation maps to estimate yield, and generate Prescription Files for precision agriculture. Accessible, low cost drones in combination with our mapping application make collecting aerial data easier than ever, allowing farmers to detect and react to threats in near real-time.
									</p>
								 </div>										   
							</div>
						</div>
													</article>                                   
											</div>      
						</div>       
					</div>
				</div>
			</div>
		</section>	


		<!-- spacer section:stats -->
		<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
			<div class="container">
						<div class="align-center pad-top40 pad-bot40">
							<img src="static/img/portfolio/skycision-logo.png" style="max-width: 100%;" alt=""/>
							 <!--  <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
				<p class="color-white">Bootstraptaste</p> -->
						</div>
			</div>	
		</section>

		

		<!-- contact -->
		<section id="section-contact" class="section appear clearfix">
			<div class="container">
				<div class="row mar-bot40">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-header">
							<h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
							<p></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="cform" id="contact-form">
							<div id="sendmessage">
								 Your message has been sent. Thank you!
							</div>
							<form  role="form" class="contactForm">
								<div class="form-group">
								<label for="firstName">First Name*</label>
								<input type="text" name="firstName" class="form-control" id="firstName" placeholder="John" data-rule="required" data-msg="Please enter your first name" />
								<div class="validation"></div>
								</div>
								<div class="form-group">
								<label for="lastName">Last Name*</label>
								<input type="text" name="lastName" class="form-control" id="lastName" placeholder="Doe" data-rule="required" data-msg="Please enter your last name" />
								<div class="validation"></div>
								</div>
								<div class="form-group">
								<label for="whoAreYou">Your Interest*</label>
								<input type="text" name="interest" class="form-control" id="interest" placeholder="Products/Investing/Partnership/Employment/etc." data-rule="required" data-msg="Please tell us why you're here" />
								<div class="validation"></div>
								</div>
								<div class="form-group">
								<label for="email">Your Email*</label>
								<input type="email" class="form-control" name="email" id="email-contact" placeholder="So we can get back to you!" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation"></div>
								</div>
								<div class="form-group">
								<label for="phone">Phone Number</label>
								<input type="text" class="form-control" name="phone" id="phone-contact" placeholder=""/>
								<div class="validation"></div>
								</div>
								<div class="form-group">
								<label for="message">Message*</label>
								<textarea id="message" class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
								<div class="validation"></div>
								</div>
								
								<button type="submit" class="btn btn-theme pull-left" onclick="sendMail()">Submit</button>
							</form>

						</div>
					</div>
					<!-- ./span12 -->
				</div>
			</div>
		</section>
		

		<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">	
						<div class="align-center pad-top40 pad-bot40">
							<img src="static/img/portfolio/skycision-logo.png" alt=""  style="max-width: 100%; padding-left: 15px; padding-right:15px;"/>
								<!-- <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
				<p class="color-white">Bootstraptaste</p> -->
						</div>
		</section>

		<!-- about -->
		<section id="section-about" class="section appear clearfix">
		<div class="container">
			<div class="row mar-bot40">
				<div class="col-md-offset-3 col-md-6">
					<div class="section-header">
						<h2 class="section-heading animated" data-animation="bounceInUp">Login</h2>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="cform" id="contact-form">
						<div>
							<form  role="form" class="contactForm" id="signInForm">
								<div class="form-group">
								<label for="firstName">First Name*</label>
								<input type="text" name="firstName" class="form-control" id="firstName-signIn" placeholder="John" data-rule="required" data-msg="Please enter your first name" />
								<div class="validation"></div>
								</div>
								<div class="form-group">
								<label for="lastName">Last Name*</label>
								<input type="text" name="lastName" class="form-control" id="lastName-signIn" placeholder="Doe" data-rule="required" data-msg="Please enter your last name" />
								<div class="validation"></div>
								</div>
								<div class="form-group">
								<label for="email">Email*</label>
								<input type="text" name="interest" class="form-control" id="email-signIn" placeholder="abc@abc.com" data-rule="required" data-msg="Please enter a valid email" />
								<div class="validation"></div>
								</div>
								<div class="form-group">
								<label for="phoneNumber">Phone Number*</label>
								<input type="email" class="form-control" name="email" id="phoneNumber" placeholder="So we can get back to you!" />
								<div class="validation"></div>
								</div>
							</form>
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									<div id="gConnect">
										<button class="btn btn-block btn-social btn-google-plus" google-signin after-signin="signedIn(auth2)" style="height:40px;"></button>
									</div>
									<div id="authOps" style="display:none">
										<h4 id="userName"></h4> 
										<button id="signOut" class="btn btn-theme pull-left">Sign Out</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
		</section>
		<!-- /about -->

		<section id="footer" class="section footer">
			<div class="container">
				<div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
					<div class="col-sm-12 align-center">
											<ul class="social-network social-circle">
													<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
													<li><a href="https://www.facebook.com/skycision/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
													<li><a href="https://twitter.com/Skycision" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="https://www.linkedin.com/company/skycision" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
											</ul>				
					</div>
				</div>
				<div class="row align-center copyright">
						<div class="col-sm-12"><p>Copyright &copy; 2015 Skycision </p></div>

											<!-- 
													All links in the footer should remain intact. 

													Licenseing information is available at: http://bootstraptaste.com/license/
													You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Skycision
											-->
				</div>
			</div>
		</section>

	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

  <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/respond/1.4.2/respond.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.easing/1.3/jquery.easing.1.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.13/skrollr.min.js"></script>		
	<script src="https://cdn.jsdelivr.net/jquery.scrollto/1.4.3/jquery.scrollTo.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.localscroll/1.2.7/jquery.localscroll-1.2.7-min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.stellar/0.6.2/jquery.stellar.min.js"></script>
	<script src="https://raw.github.com/morr/jquery.appear/master/jquery.appear.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script> -->

    
    <script src="static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="static/js/jquery.easing.1.3.js"></script>
    <script src="static/js/jquery.isotope.min.js"></script>
    <script src="static/js/jquery.nicescroll.min.js"></script>
    <script src="static/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="static/js/skrollr.min.js"></script>        
    <script src="static/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="static/js/jquery.localscroll-1.2.7-min.js"></script>
    <script src="static/js/stellar.js"></script>
    <script src="static/js/jquery.appear.js"></script>
    <script src="static/js/validate.js"></script>
	<script type="text/javascript">

	function sendMail(){
		var firstName = document.getElementById("firstName").value;
		if(firstName === null || firstName === ""){
			return;
		}
		var lastName = document.getElementById("lastName").value;
		if(lastName === null || lastName === ""){
			return;
		}
		
		var interest = document.getElementById("interest").value;
		if(interest === null || interest === ""){
			interest = "";
			return;
		}
		var email = document.getElementById("email-contact").value;
		if(email === null || email === ""){
			return;
		}else{
			if(validateEmail(email) === false){
				return;
			}
		}
		var message = document.getElementById("message").value;
		if(message === null || message === ""){
			return;
		}
		
		var phone = document.getElementById("phone-contact").value;
		if(phone === null || phone == "(   )   -    "){
			phone = "[not given]";
		}
		
		var sentMessage = firstName+" "+lastName+"\nInterest: "+interest + "\n\tMessage: \n"+message+"\n\nSender Email: "+email +"\nPhone Number: "+phone;
		var data = {};
				data.firstName = firstName;
				data.lastName = lastName;
				data.email = email;
				// data.subject = subject;
				data.message = message;
				console.log(sentMessage);
				
		$.ajax({
				url: "http://formspree.io/skycisiontest@gmail.com", 
				method: "POST",
				data: {message: sentMessage},
				dataType: "json"
		});
	}

	function validateEmail(email) {
			var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
			return re.test(email);
	}
	</script>
	</body>
</html>