<div id="map-sidenav-slider">
    <br>
    <div class="mf-lft-list">
        <h4>View</h4>
        <select style="width:218px;height:35px;">
            <option>Farm Name</option>
        </select>
    </div>
    <div>
        <h4>Color</h4>
    </div>
    <div>
        <ul id="map-color">
            <li>
                <button>NDVI</button>
            </li>
            <li>
                <button>Leaf Roll</button>
            </li>
            <li>
                <button>Thermal</button>
            </li>
            <li>
                <button>Infrared</button>
            </li>
        </ul>
    </div>
    <div>
        <button>Add New Map</button>
    </div>
    <hr>
    <div class="compare-btn">
        <button>Compare with</button>
    </div>
    <div class="mf-lft-list">
        <select style="width:218px;height:35px;">
            <option>Last season</option>
        </select>
    </div>
   <!--  <hr>
    <h4>Notifications</h4>
    <div>
        <ul>
            <li ng-cloak>
                <ul id="field-list" class="notification">
                    <li>
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Potential irrigation leak
                    </li>
                    <li>
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Weed warning
                    </li>
                    <li>
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Slower than expected growth
                    </li>
                </ul>
            </li>
        </ul>
    </div> -->
</div>
