<!DOCTYPE HTML>
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png">
    <style type="text/css">
    @import url('/static/css/main.css');
    @import url('/static/css/signup-style.css');
    @import url('/static/css/bootstrap.min.css');
    @import url('/static/css/font-awesome.css');
    @import url('/static/css/angular-material.min.css');
    </style>
    <link rel="stylesheet" href="css/onboard.css" />
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/angular-1.5.7.min.js"></script>
    <script type="text/javascript" src="../static/js/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="onBoard" ng-controller="obSignup">
    <header role="banner">
        <div id="cd-logo">
            <a href=""><img src="/static/img/portfolio/skycision-logo-white-188x28.png" alt="Logo" width="188" height="28"></a>
        </div>
    </header>
    <div id="obs">
        <div class="txt-center">
            <h3>Join Us!</h3>
            <p>Skycision provides a data-driven farm management platform built around the collection and processing of high-resolution aerial imagery.</p>
        </div>
        <hr>
        <div layout="row" flex>
            <div layout="row" flex="55">&nbsp;</div>
            <div layout="row" flex="40" class="ob-index-back">
                <a href="index.html">
                    <button class="ob-index-back" alt="back" title="back">Back</button>
                </a>
            </div>
        </div>
        <div flex layout="row" id="obSignup-view">
            <div class="container lft-info" layout="row" flex="40" class="obsu-info">
                <ul class="chicklets">
                    <li class="text-welcome">
                        <h4><strong>Congratulations!</strong> you have selected 'Basic' product of Skycision. Please proceed with signup and enjoy the features.</h4>
                    </li>
                    <li>
                        <img src="img/chicklet1.jpg" class="pull-left" alt="Flight Planning" title="Flight Planning">
                        <div>
                            <span><strong>Flight Planning</strong></span>
                            <p>Create and deploy optimized flight plans to efficiently scout any region of your operation. Plan your flights at home or in the field using our iOS App (coming soon!) Whatever your choice, you'll enjoy the ease of use and end-to-end intelligence only Skycision can deliver. <a class="ob-signup-learnmore" href="https://www.skycision.com/">Learn more</a></p>
                        </div>
                    </li>
                    <li>
                        <img src="img/chicklet2.jpg" class="pull-left" alt="Aerial Mapping" title="Aerial Mapping">
                        <div>
                            <span><strong>Aerial Mapping</strong></span>
                            <p>While your drone is flying, our app is mapping! Our aerial mapping platform captures elevation data to estimate yield and multispectral imagery to assess crop health and vigor. Aerial mapping saves time in crop scouting and helps to pinpoint areas of your field that are in need. Improve resource allocation and maximize yield with the touch of a button! <a class="ob-signup-learnmore" href="https://www.skycision.com/">Learn more</a></p>
                        </div>
                    </li>
                    <li>
                        <img src="img/chicklet3.jpg" class="pull-left" alt="Rapid Insights" title="Rapid Insights">
                        <div>
                            <span><strong>Rapid Insights</strong></span>
                            <p>By aggregating data from various operations regionally and nationally, we can better understand the factors that contribute to crop performance in various climates and regions. The results of the large scale analysis allow us to understand and benchmark operations at a local level to deliver rapid insights to our farmers. Let us help you in maximizing the value of our mapping capabilities. <a class="ob-signup-learnmore" href="https://www.skycision.com/">Learn more</a></p>
                        </div>
                    </li>
                    <li>
                        <img src="img/chicklet4.jpg" class="pull-left" alt="Technologies" title="Technologies">
                        <div>
                            <span><strong>Technologies</strong></span>
                            <p>We are working closely with industry leader DJI to develop software for Phantom III, Inspire II and Matrice 100 UAVs. Specialized imaging sensors measure crop health, generate elevation maps to estimate yield, and generate Prescription Files for precision agriculture. Accessible, low cost drones in combination with our mapping application make collecting aerial data easier than ever, allowing farmers to detect and react to threats in near real-time. <a class="ob-signup-learnmore" href="https://www.skycision.com/">Learn more</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="divider">&nbsp;</div>
            <div layout="row" flex="40" class="container" ng-cloak>
                <div id="cd-signup" class="is-selected" flex ng-init="account={username:null,email:'',password:null,address:null}">
                    <form role="form" name="form" class="cd-form" ng-model="account">
                        <div class="fieldset">
                            <div class="fieldContainer">
                                <label class="image-replace cd-username" for="givenName">First Name</label>
                                <input class="full-width has-padding has-border" id="givenName" name="givenName" type="text" placeholder="First name" ng-minlength="3" required ng-model="account.given_name">
                            </div>
                            <div class="alert alert-warning fade in alert-dismissible" role="alert" ng-if="form.givenName.$error.minlength">
                                <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span>Please enter atleast 3 characters.</span>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="fieldContainer">
                                <label class="image-replace cd-username" for="familyName">Last Name
                                </label>
                                <input class="full-width has-padding has-border" id="familyName" name="familyName" type="text" placeholder="Last name" ng-minlength="3" required ng-model="account.familyName">
                            </div>
                            <div class="alert alert-warning fade in alert-dismissible" role="alert" ng-if="form.familyName.$error.minlength">
                                <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span>Please enter atleast 3 characters.</span>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="fieldContainer">
                                <label class="image-replace cd-username" for="userName">Username</label>
                                <input class="full-width has-padding has-border" id="userName" name="userName" required type="text" placeholder="Username" ng-minlength="6" ng-model="account.username">
                            </div>
                            <div class="alert alert-warning fade in alert-dismissible" role="alert" ng-if="form.userName.$error.minlength">
                                <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span>Please enter atleast 6 characters.</span>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="fieldContainer">
                                <label class="image-replace cd-username" for="address">Address</label>
                                <input class="full-width has-padding has-border" id="address" name="address" type="text" placeholder="Address (optional)" ng-model="account.address" ng-autocomplete>
                            </div>
                            <div class="alert alert-warning fade in alert-dismissible" role="alert" ng-if="form.address.$error.address">
                                <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span>Please enter valid address</span>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="fieldContainer">
                                <label class="image-replace cd-email" for="email">E-mail</label>
                                <input class="full-width has-padding has-border" id="email" name="email" type="email" required placeholder="E-mail" ng-model="account.email">
                            </div>
                            <div class="alert alert-warning fade in alert-dismissible" role="alert" ng-if="form.email.$error.email">
                                <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span>Please enter valid email</span>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="fieldContainer">
                                <label class="image-replace cd-password" for="password">Password</label>
                                <input class="full-width has-padding has-border" id="password" name="password" type="password" required placeholder="Password" ng-minlength="8" ng-model="account.password"> <a href="" ng-click="togglePasswordShow($event)" class="hide-password">Show</a>
                            </div>
                            <div class="alert alert-warning fade in alert-dismissible" role="alert" ng-if="form.password.$error.minlength">
                                <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span>Password must have at least 8 characters</span>
                            </div>
                        </div>
                        <div class="fieldset">
                            <div class="fieldContainer">
                                <label class="image-replace cd-password" for="pw2">Confirm Password</label>
                                <input class="full-width has-padding has-border" id="pw2" name="pw2" type="password" required placeholder="Confirm Password" ng-model="account.pw2" confirm-password="account.password"> <a href="" ng-click="togglePasswordShow($event)" class="hide-password">Show</a>
                            </div>
                            <div class="alert alert-warning fade in alert-dismissible" role="alert" ng-if="form.pw2.$dirty && form.pw2.$error.confirmPassword">
                                <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span>Your passwords did not match</span>
                            </div>
                        </div>
                        <div class="fieldset">
                            <input type="checkbox" id="signupTerms" name="signupTerms" required ng-model="signupterms">
                            <label for="signupTerms" class="terms">I agree to the <a href="" ng-click="open()">Terms &amp; Conditions</a>
                            </label>
                        </div>
                        <div class="fieldset">
                            <input class="full-width has-padding" type="submit" value="Create account" ng-click="validateForm(account)">
                        </div>
                    </form>
                </div>
                <!-- Success -->
                <div id="cd-verify" id="ob-signup-success">
                    <!-- verify password form -->
                    <p class="cd-form-message"><h4><strong>Sucess!</strong> You have successfully signedup</h4></p>
                    <p class="cd-form-bottom-message">
                        <a href="https://beta.skycision.com/#/login" class="ob-signup-learnmore">Please click here to proceed</a>
                    </p><br><br>
                    <div class="fieldset cd-form">
                            <a href="obsignup-view.html">
                                <input class="full-width has-padding" type="submit" value="Create account">
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div>
                <p>Copyright © 2015 Skycision</p>
            </div>
        </footer>
    </div>
</body>
</html>
