	<div class="uploaderHeader">
		<span class="pull-right close" alt="close" title="close">
        	<svg x="0px" y="0px" width="14px" height="14px" viewBox="0 0 10 10" focusable="false"><polygon fill="#fff" points="10,1.01 8.99,0 5,3.99 1.01,0 0,1.01 3.99,5 0,8.99 1.01,10 5,6.01 8.99,10 10,8.99 6.01,5 "></polygon></svg>
        </span>
		<span class="pull-right close" alt="close" title="close">
        	<svg x="0px" y="0px" width="14px" height="14px" viewBox="0 0 24 24" focusable="false"><path fill="#fff" d="M21.17,5.17L12,14.34l-9.17-9.17L0,8l12,12,12-12z"></path></svg>
		</span>        	
	</div>
     <sky-uploader uploader-id="{{uploadHolderId}}" move-target="nav-uploader"></sky-uploader>
	